<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684108113406-3m2fh4spg633n552cr9hq1t9nuo9i2qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684108113406-3m2fh4spg633n552cr9hq1t9nuo9i2qu</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1d5IrdAHldZWK1JuL7YZzJwF7SHoVv0</string>
	<key>GCM_SENDER_ID</key>
	<string>684108113406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saeed.couponzy7-7</string>
	<key>PROJECT_ID</key>
	<string>couponzy-70a71</string>
	<key>STORAGE_BUCKET</key>
	<string>couponzy-70a71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684108113406:ios:c8576d8c8ab7b51e05ccaf</string>
	<key>DATABASE_URL</key>
	<string>https://couponzy-70a71-default-rtdb.firebaseio.com</string>
</dict>
</plist>